#app {
    font-family: 'Kanit', sans-serif;
}

.app__section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: inherit;
}

main{
    height: 100vh;
}

/*Scroll bar customization*/
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #EEEEEE;
}
  
::-webkit-scrollbar-thumb {
    background: #00818A;
    border-radius: 2px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #005960;
}